h1{
color: Red;
text-align: center;
background-color: yellow;
}
p{
color:Blue;
background-color:white;
}
#para1{
color:black;
background-color: red;
}
*{
font-family: Verdana;
background-color:grey;
}
.para2{
color: green;
background-color:SkyBlue;
}
u,b{
color:SlateGrey;
background-color:GoldenRod;
}